beautifulsoup4~=4.9.3
feedparser~=6.0.2
discord.py[voice]==1.7.3
aiohttp~=3.7.3 # Raceline GSMArena somehow needs 3.7
aiosqlite~=0.17.0
aiosql~=3.2.0
matplotlib~=3.4.2
psutil~=5.8.0
git+https://github.com/Rapptz/discord-ext-menus
python-digitalocean
git+https://github.com/pytube/pytube.git@refs/pull/1169/merge #pytube>=11.0.2